<div class="booking-container">
    <h1>Booking</h1>
    <p>Book your next adventure with TravelBuddy!</p>
    <img src="assets/booking-image.jpg" alt="Booking Image">
  </div>
  

  <div>
    <img src="/assets/images/bali.jpg" alt="Bali">
    <img src="/assets/images/NYC.jpg" alt="NYC">
    <img src="/assets/images/paris.jpg" alt="paris">
    <img src="/assets/images/barcelona.jpg" alt="barcelona">
    <img src="/assets/images/capetown.jpg" alt="capetown">
    <img src="/assets/images/london.jpg" alt="london">
    <img src="/assets/images/maldives.jpg" alt="maldives">
    <img src="/assets/images/rome.jpg" alt="rome">
    <img src="/assets/images/sydney.jpg" alt="sydney">
    <img src="/assets/images/tokyo.jpg" alt="tokyo">
  </div>

 